<label>Name</label><br>
<%= text_field_tag :username, @user.username %><br></br>

<label>Email</label><br>
<%= text_field_tag :email, @user.email %><br></br>

<label>Password</label></br>
<%= text_field_tag :password, @user.password %><br></br>
