<div class="container">
<h2> Create your account here: </h2></div>

<%= render 'form' %>

<br>
<h4>Already have an account?</h4>
<%= button_to "Log In", login_path %><br>
<%= button_to "Sign Up with Facebook", '/auth/facebook' %><br>
