
<h1>Welcome, <%= @user.username %></h1><br>
<h4>Email: <%= current_user.email %><br></h4>
<br>

<h2> Your Reviews: </h2>

<ol>
    

</ol>

<%=  form_tag( '/logout', method:'delete') do %>
    <%= submit_tag "Log out" %>
<% end %>