<div class="center jumbotron">

  <h1>Welcome to VeganNiche!</h1>

  <h4>
    Where you can find the vegan options you can order at non-vegan restaurants
  </h4>

  <br>
  <br>

  
  <br>
  <br>

<center><%= image_tag("sushi.jpg", :size => "860x580") %>

</div>